:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --background-color-1: #2f303a;
  --background-color-2: #ffffff;
  --icon-social-color: #afb1b8;
  --join-social-color: rgba(255, 255, 255, 0.1);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-color: var(--background-color-2);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* main nav  */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* site-nav section */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .link {
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background: var(--accent-color);
  border-radius: 2px;
}

.site-nav-contact,
.site-nav-contact-list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
}

.icon-envel {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
}

.site-nav-contact-list_item:hover,
.site-nav-contact-list_item:focus {
  color: var(--accent-color);
}

.site-nav-contact-list_item:hover .icon-phone,
.site-nav-contact-list_item:focus .icon-phone {
  fill: var(--accent-color);
}

.site-nav-contact-list_item:hover .icon-envel,
.site-nav-contact-list_item:focus .icon-envel {
  fill: var(--accent-color);
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav-contact .site-nav-contact_list + .site-nav-contact_list {
  margin-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav-contact:hover,
.site-nav-contact:focus {
  color: var(--accent-color);
  font-style: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link.current {
  color: var(--accent-color);
}

/* logo section */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000;
}

.color-logo {
  color: var(--accent-color);
}

.color-logo-2 {
  color: #000;
}

.color-logo-footer {
  color: #ffffff;
}

.hero {
  background-color: var(--background-color-1);
  text-align: Center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-text {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* button section */
.button-hero {
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 200px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  background-color: var(--accent-color);
  color: #ffffff;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
}

/* features section */
.features-section {
  padding-top: 94px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features,
.features-item + .features-item {
  margin-left: 30px;
}

.features-item {
  width: 270px;
}

.features-item_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.features,
.title {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
}

.second-text-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/*# sourceMappingURL=main.css.map */